body {
    background-color: rgb(0, 204, 255);
    text-align: top;
   
    }
    input {
      background-color: rgb(0, 255, 234);
      
    }
    table {
      background-color: rgb(179, 255, 0);
      border: 3px solid green;
    }
    th {
      border: 1px solid green;
    }
    td {
      border: 1px solid green;
    }
    select {
      appearance: none;
      border: 2px;
      background-color: rgb(195, 126, 36);
      width: 20%;
    }
    form {
      background-color: rgb(50, 126, 36);
      text-align: center;
    }
    div {
      background-color: rgb(200, 150, 33);
      text-align: center;
    }